/* Backround color */
body {  
    background: #eee;  
    }  

/* title text */
h1{ 
    text-align: center;
}

#container {
    height: 600px;
    width: 550px;
    display: grid;
    margin: auto;
    padding: 10px;
    background-color: rgb(168, 168, 168);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr .5fr repeat(4, 1fr);
    grid-gap:10px;
    color: white;
    border-radius: 10px;
}
#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column: 1/4;
    grid-row: 4/7;
    grid-gap: 10px;
} 

#display{
    grid-column: 1 / 5;
    height: 6rem;
    background-color: rgba(245, 245, 245, 0.692);
    border: .4rem solid black;
    border-radius: 10px;
    text-align: right;
    font-size: 6em;
    color: black;
}
#statement{
    grid-column: 1 / 5;
    background-color: rgb(34, 33, 33);
    font-size: 2em;
    color: rgb(255, 4, 234);
    border-radius: 10px;
    text-align: right;
    padding-top : 8px;
}
.zero {
    grid-column: 1/3;
}

.operator {
    background-color: rgba(20, 14, 14, 0.438);
}
#equals {
    grid-row: 5/7;
}
button {
    font-size: 3rem;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
}